In [63]:
# to read data 
import pandas as pd
#import matplotlib.pyplot as plt
benin=pd.read_csv('/home/user/Desktop/data/benin-malanville.csv')

In [64]:
#display data from header
benin.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [65]:
#filter empty outlier 
benin.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [66]:
#remove empty colomn comment which has no values and coppied the data to benin_cleaned
benin_cleaned = benin.drop(columns=['Comments'])

In [67]:
#hence the comment colomn comment is empty value, we can drop from the table 
benin_cleaned = benin.drop(columns=['Comments'])
benin_cleaned.isnull().sum()

Timestamp        0
GHI              0
DNI              0
DHI              0
ModA             0
ModB             0
Tamb             0
RH               0
WS               0
WSgust           0
WSstdev          0
WD               0
WDstdev          0
BP               0
Cleaning         0
Precipitation    0
TModA            0
TModB            0
dtype: int64

In [68]:
#display more information about the data 
benin_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
dtypes: float64(15), int64(2), object(1)
memory usage: 72.2+ MB

In [69]:
# Convert the 'Timestamp' column to datetime format.currently it is an object type
benin_cleaned['Timestamp'] = pd.to_datetime(benin_cleaned['Timestamp'])

In [70]:
benin_cleaned.describe()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
count,525600,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,2022-02-07 12:00:30.000000512,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736
min,2021-08-09 00:01:00,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000
25%,2021-11-08 06:00:45,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000
50%,2022-02-07 12:00:30,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000
75%,2022-05-09 18:00:15,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000
max,2022-08-09 00:00:00,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000
std,NaN,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743

In [71]:
#select KPI column from the available 
kpi_columns = benin_cleaned.drop(columns=['Timestamp','Tamb','WSgust','WSstdev','WD','WDstdev','Cleaning','Precipitation','TModA','TModB'])
kpi_columns.head()

   GHI  DNI  DHI  ModA  ModB    RH   WS   BP
0 -1.2 -0.2 -1.1   0.0   0.0  93.4  0.0  998
1 -1.1 -0.2 -1.1   0.0   0.0  93.6  0.0  998
2 -1.1 -0.2 -1.1   0.0   0.0  93.7  0.3  997
3 -1.1 -0.1 -1.0   0.0   0.0  93.3  0.2  997
4 -1.0 -0.1 -1.0   0.0   0.0  93.3  0.1  997

In [72]:
kpi_columns.describe()

,GHI,DNI,DHI,ModA,ModB,RH,WS,BP
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,240.559452,167.187516,115.358961,236.589496,228.883576,54.487969,2.121113,994.197199
std,331.131327,261.710501,158.691074,326.894859,316.536515,28.073069,1.603466,2.474993
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,2.100000,0.000000,985.000000
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,28.800000,1.000000,993.000000
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,55.100000,1.900000,994.000000
75%,483.400000,314.200000,216.300000,463.700000,447.900000,80.100000,3.100000,996.000000
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,100.000000,19.500000,1003.000000